wc-badge {
  &, * {
    box-sizing: border-box;
  }

  display: inline-flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  border-radius: 25px;
  line-height: 0;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  color: #444;
  transition: transform 100ms ease-out;

  &[hidden] {
    opacity: 0;
    transition: 100ms ease-in;
    visibility: hidden;
    transform: scale(0);
  }
}